*{
    margin:0;
    font-size: 10px;
    padding: 0;
}
.navbar{
    width:100vw;
   display: flex;
   height:30px;
   justify-content: space-between;
   font-family: Helvetica;
   background-color: rgb(234, 229, 229);
}
.nav-tags{
    position: relative;
    right:5px;
    top:10px;
    font-weight: 700;
    button{
    border:none;
    background-color: rgb(234, 229, 229);

    }
}
.navbar-2{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
input{
    width:50px;
}
.navbar2-tags{
    font-size: 8px;
    display: flex;
    justify-content: space-around;
}
.search{
    position:relative;
    bottom:1px;
    height:11px;
    border:1px;
    background-color: lightgrey;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.search1{
    background-color: lightgrey;
    border:1px;
    border:none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.info-panel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    background-color:rgb(234, 229, 229) ;
    height:35px;
}
.hero-image{
    margin-top: 5px;
    background-image: url("collage1.webp");
    background-size: cover;
    width:375px;
    height:185px;
}
.hero-text{
    color:white;
    font-weight: bolder;
    font-family: "oswald";
    position: relative;
    bottom:70px;
}
.highlight-text{
    font-weight: bolder;
    position:relative;
    display: flex;
    justify-content: center;
    bottom:70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.description-text{
    position:relative;
    bottom:65px;
    display: flex;
    justify-content:center;
    font-size: larger;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.shop-button{
    button{
    border-radius: 30px;
    background-color: black;
    color: white;
    border: none;
    width:50px;
    height: 20px;
    font-weight: 700;
    }
    display: flex;
    justify-content: center;
    position: relative;
    bottom:60px;
}
.show-stopper{
    position: relative;
    bottom:30px;
    display: flex;
    overflow:scroll;
    width:100%;
}
.images{
    display: flex;
    justify-content: space-around;
}
.photo1{
    background-image: url("collage6.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo2{
    background-image: url("collage7.webp");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo3{
    background-image: url("collage8.webp");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo4{
    background-image: url("collage9.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo5{
    background-image: url("collage10.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo6{
    background-image: url("collage11.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo7{
    background-image: url("collage12.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo8{
    background-image: url("collage13.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo9{
    background-image: url("collage14.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo10{
    background-image: url("collage15.jpg");
    background-size: cover;
    width:80px;
    height: 80px;
}
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9, .photo10{
    margin-left: 10px;
}
.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10{
    visibility: hidden;
    transition: font-weight 0.5s ease;
    position: relative;
    top:20px;
    color: black;
    font-weight: 900;
    transition: font-weight 0.5s ease;
}
.photo1:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo2:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo3:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo4:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo5:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo6:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo7:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo8:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo9:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo10:hover{
    opacity: 0.5;
    visibility: hidden;
}
.photo1:hover .text1{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
    transition: ease-in;
}
.photo2:hover .text2{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo3:hover .text3{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo4:hover .text4{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo5:hover .text5{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo6:hover .text6{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo7:hover .text7{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo8:hover .text8{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo9:hover .text9{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.photo10:hover .text10{
    font-weight: bolder; 
    color:black;
    visibility:visible ;
}
.featured{
    display: flex;
    overflow:scroll;
    width:100%;
}
.jordans, .running, .sweatshirts, .daily{
    margin-right: 20px;
img{
    width:120px;
    height:150px;
}
}
.herotag-2{
    margin-top: 10px;
    img{
        width:345px;
        height:200px;
        padding: 15px;
    }
}
.footer{
    margin-top: 30px;
    display:flex;
    li{
    list-style-type: none;
    }
    justify-content: space-around;
}
.footer1{
    margin-top: 30px;
    display:flex;
    li{
    list-style-type: none;
    }
    justify-content: space-around;
}

@media only screen and (min-width: 768px) {
    * {
        margin: 0;
        font-size: 10px;
        padding: 0;
    }
    .navbar {
        width: 100vw;
        display: flex;
        height: 30px;
        justify-content: space-between;
        font-family: Helvetica;
        background-color: rgb(234, 229, 229);
    }
    .nav-tags {
        position: relative;
        right: 5px;
        top: 10px;
        font-weight: 700;
        button {
            border: none;
            background-color: rgb(234, 229, 229);
        }
    }
    .navbar-2 {
        background-color: white;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    input {
        width: 50px;
    }
    .navbar2-tags {
        font-size: 8px;
        display: flex;
        justify-content: space-around;
    }
    .search {
        position: relative;
        bottom: 1px;
        height: 11px;
        border: 1px;
        background-color: lightgrey;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .search1 {
        background-color: lightgrey;
        border: 1px;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .info-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
        background-color: rgb(234, 229, 229);
        height: 35px;
    }
    .hero-image {
        margin-top: 5px;
        background-image: url("collage1.webp");
        background-size: cover;
        width: 375px;
        height: 185px;
    }
    .hero-text {
        color: white;
        font-weight: bolder;
        font-family: "oswald";
        position: relative;
        bottom: 70px;
    }
    .highlight-text {
        font-weight: bolder;
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 70px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .description-text {
        position: relative;
        bottom: 65px;
        display: flex;
        justify-content: center;
        font-size: larger;
        font-weight: 800;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .shop-button {
        button {
            border-radius: 30px;
            background-color: black;
            color: white;
            border: none;
            width: 50px;
            height: 20px;
            font-weight: 700;
        }
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 60px;
    }
    .show-stopper {
        position: relative;
        bottom: 30px;
        display: flex;
        overflow: scroll;
        width: 100%;
    }
    .images {
        display: flex;
        justify-content: space-around;
    }
    .photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9, .photo10 {
        margin-left: 10px;
    }
    .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10 {
        visibility: hidden;
        transition: font-weight 0.5s ease;
        position: relative;
        top: 20px;
        color: black;
        font-weight: 900;
        transition: font-weight 0.5s ease;
    }
    .photo1:hover, .photo2:hover, .photo3:hover, .photo4:hover, .photo5:hover, .photo6:hover, .photo7:hover, .photo8:hover, .photo9:hover, .photo10:hover {
        opacity: 0.5;
        visibility: hidden;
    }
    .photo1:hover .text1, .photo2:hover .text2, .photo3:hover .text3, .photo4:hover .text4, .photo5:hover .text5, .photo6:hover .text6, .photo7:hover .text7, .photo8:hover .text8, .photo9:hover .text9, .photo10:hover .text10 {
        font-weight: bolder;
        color: black;
        visibility: visible;
        transition: ease-in;
    }
    .featured {
        display: flex;
        overflow: scroll;
        width: 100%;
    }
    .jordans, .running, .sweatshirts, .daily {
        margin-right: 20px;
        img {
            width: 360px;
            height: 300px;
        }
    }
    .herotag-2 {
        margin-top: 20px;
        img {
            width: 1400px;
            height: 700px;
            padding: 15px;
            font-size: larger;
        }
    }
    .footer {
        font-size: 30px;
        margin-top: 30px;
        display: flex;
        li {
            list-style-type: none;
        }
        justify-content: space-around;
    }
    .footer1 {
        font-size: 30px;
        margin-top: 30px;
        display: flex;
        li {
            list-style-type: none;
        }
        justify-content: space-around;
    }
}
